<!doctype html>
<html lang="en" class="h-100">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Hugo 0.108.0">
  <title> admin </title>

  <!-- <script src="./public/javascripts/jquery-3.6.3.js"></script> -->
  <script src="https://code.jquery.com/jquery-3.6.3.js"></script>

  <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/cover/">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <style>
    h1 {
      color: green;
    }


    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

    .b-example-divider {
      height: 3rem;
      background-color: rgba(0, 0, 0, .1);
      border: solid rgba(0, 0, 0, .15);
      border-width: 1px 0;
      box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    }

    .b-example-vr {
      flex-shrink: 0;
      width: 1.5rem;
      height: 100vh;
    }

    .bi {
      vertical-align: -.125em;
      fill: currentColor;
    }

    .nav-scroller {
      position: relative;
      z-index: 2;
      height: 2.75rem;
      overflow-y: hidden;
    }

    .nav-scroller .nav {
      display: flex;
      flex-wrap: nowrap;
      padding-bottom: 1rem;
      margin-top: -1px;
      overflow-x: auto;
      text-align: center;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
    }




    /*
* Globals
*/


    /* Custom default button */
    .btn-light,
    .btn-light:hover,
    .btn-light:focus {
      color: #333;
      text-shadow: none;
      /* Prevent inheritance from `body` */
    }


    /*
* Base structure
*/

    body {
      text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
      box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
    }

    .cover-container {
      max-width: 42em;
    }


    /*
* Header
*/

    .nav-masthead .nav-link {
      color: rgba(255, 255, 255, .5);
      border-bottom: .25rem solid transparent;
    }

    .nav-masthead .nav-link:hover,
    .nav-masthead .nav-link:focus {
      border-bottom-color: rgba(255, 255, 255, .25);
    }

    .nav-masthead .nav-link+.nav-link {
      margin-left: 1rem;
    }

    .nav-masthead .active {
      color: #fff;
      border-bottom-color: #fff;
    }
  </style>
</head>

<body class="d-flex h-100 text-center text-bg-light">
  <!-- style="background-image: url(./public/images/pexels-jill-wellington-39853.jpg);"> -->

  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <div>
        <h3 class="float-md-start mb-0"> ADMIN ROOM </h3>
        <nav class="nav nav-masthead justify-content-center float-md-end">
          <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="#">Home</a>
          <a class="nav-link fw-bold py-1 px-0" href="#">Features</a>
          <a class="nav-link fw-bold py-1 px-0" href="#">Contact</a>
        </nav>
      </div>
    </header>

    <main class="px-3">
      <h1 id="firstAlert">Cover your page.</h1>
      <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit
        the
        text, and add your own fullscreen background photo to make it your own.</p>
      <p>Select room</p>
      <ul>
        <a class="btn btn-success" href="/home" role="button"> Home </a>
        <a class="btn btn-success" href="/room1" role="button">Room 1</a>
        <a class="btn btn-success" href="/room2" role="button">Room 2</a>
        <a class="btn btn-success" href="/room3" role="button">Room 3</a>
        <a class="btn btn-success" href="/room4" role="button">Room 4</a>
      </ul>
      <p class="lead">
        <a href="#" class="btn btn-lg btn-light fw-bold border-white bg-white">Learn more</a>
      </p>
      <form action="" id="form">
        <div class="input-group">
          <input id="m" autocomplete="off" type="text" class="form-control" placeholder="Message..."
            aria-label="Message...">
          <span class="input-group-btn">
            <button class="btn btn-secondary" type="submit">Send</button>
          </span>
        </div>
      </form><br>
      <hr>

       <!-- <ul style="color: #333;" class="list-group" id="messages"> </ul> -->

      <!-- Two columns: 50% width on large and up-->
      <div class="row">
        <div class="col-lg" style="background-color: rgb(227, 212, 144); color:rgb(16, 19, 228); border-color: brown;">
          <p style="color: rgb(12, 25, 204);"> --------- messages -------- </p>
          <ul class="list-group" id="messages"> </ul>
        </div> <br><br>
        <!-- <div class="col-lg" style="background-color: rgb(163, 182, 191); color:red;">
          <p style="color: rgb(221, 16, 61);" id="messages1"> --------- messages1 -------- </p>
        </div> -->
      </div> 
    </main>

    <footer class="mt-auto text-white-50">
      <p> Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a
          href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p>
    </footer>
  </div>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script> -->
  <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
    integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
    crossorigin="anonymous"></script>

  <script src="/socket.io/socket.io.js"></script>

  <script>
    function rooms_TECH() {
      // room namespace
      const room = 'tech'
      const socket = io('/tech');
      $('form').submit(() => {
        let msg = $('#m').val()
        if (msg === '') {
          return alert("Enter the value ")
        } else {
          socket.emit('message', { msg, room });
          $('#m').val('');
          return false;
        }
      })

      socket.on('connect', () => {
        // emitting to everyone
        //socket.emit('message', 'user connected in the browser')
        socket.emit('join', { room: room })
      })

      // listen to message event
      socket.on('message', (msg) => {
        $('#messages').addClass("list-group-item list-group-item-primary");
        $('#messages').append($('<li>').text(msg));
        //console.log(msg)
      })
    }


    function admin_ROOM() {
      const room = '<%-room%>'.toUpperCase();
      var socket = io('/admin');

      socket.on('server message', (data) => {
        console.log(data);
      })

      var form = document.getElementById('form');
      var input = document.getElementById('input');

      form.addEventListener('submit', function (e) {
        e.preventDefault();
        if (input.value) {
          var msg = input.value;
          socket.emit('chat message', { msg, room });
          input.value = '';
        }
      });
      socket.on('chat message', function (msg) {
        var item = document.createElement('li');
        item.textContent = msg;
        messages.appendChild(item);
        window.scrollTo(0, document.body.scrollHeight);
      });

      socket.on('connect', () => {
        socket.emit('join', { room: room });
      })

    }
    admin_ROOM()

  </script>
</body>

</html>